@font-face {
  font-family: Notosan_bold;
  src: url('../font/NotoSans-Bold.ttf');
}

@font-face {
  font-family: Notosan_bolditalic;
  src: url('../font/NotoSans-BoldItalic.ttf');
}

@font-face {
  font-family: Notosan_italic;
  src: url('../font/NotoSans-Italic.ttf');
}

* {
  box-sizing: border-box;
}
/* .clearfix::after {
  content: "";
  clear: both;
  display: table;
} */
body {
  background-color: #ccc;
}

img {
  width: 100%;
}

.headingtxt {
  font-family: Notosan_bold;
  text-decoration: underline;
  letter-spacing: 1.5px;
  margin: 10px 0;
  display: inline-block;
}

h1.headingtxt {
  font-size: 32px;
}

h2.headingtxt {
  font-size: 24px;
}

h3.headingtxt {
  font-size: 18px;
}

h4.headingtxt {
  font-size: 16px;
}

h5.headingtxt {
  font-size: 13px;
}

h6.headingtxt {
  font-size: 10px;
  position: fixed;
  z-index: 1;
  color: #33cd22;
  bottom: 0;
  right: 0;
}

p.info {
  text-align: right;
  max-width: 1000px;
  padding: 30px;
  border: 1px solid #ff3300;
  font-size: 20px;
  line-height: 1.3;
  font-family: Notosan_bolditalic;
  background: url('../img/paper.gif') repeat center/contain;
  position: sticky;
  top: 0;
  z-index: 1;
}

.mainImage {
  margin: 10px auto;
  max-width: 900px;
  position: relative;
}

.gifImage {
  width: 200px;
  position: absolute;
  top: 0;
  right: 0;
}

a {
  color: #001a33;
  text-transform: uppercase;
  text-decoration: line-through;
}

.w3school {
  font-size: 21px;
}

ul,
ol {
  font-size: 20px;
  font-family: Notosan_italic;
  margin: 0 5px;
}

.lists li {
  display: inline-block;
  padding: 10px;
}

dl {
  font-size: 22px;
}

.personTable {
  width: 60%;
}

.personTable,
.personTable th,
.personTable td {
  border: 1px solid #000;
  border-collapse: collapse;
  text-align: center;
}

.flexbox {
  display: flex;
  flex-wrap: wrap;
  padding: 10px 0;

}

.box1 {
  max-width: 800px;
  flex-direction: row-reverse;
  justify-content: space-around;
}

.box2 {
  flex-direction: column-reverse;
  align-items: center;
  max-width: 900px;
}

.box3 {
  align-items: stretch;
}

.box4 {
  background-color: #f1f1f1;
  height: 400px;
  justify-content: space-evenly;
}

.flexbox div {
  padding: 30px;
  cursor: pointer;
  background-color: #330015;
  color: #fff;
}

.box2 div {
  margin: 10px 0;
  width: 90%;
}

.box3 div{
  margin: 0 5px;
}
.box3 div:last-child {
  flex-grow: 8;
  text-align: center;
}

.box4 div:first-child {
  align-self: center;
}
.collage div{
float: right;
max-width: 250px;
}
.btn{
  padding: 20px;
  margin: 0 auto;
  position: relative;
  cursor: pointer;
  max-width: 268px;
  background-color: #ff3300;
  border-radius: 20px;
  text-align:center;
  color: #fff;
}
.btn::before,
.btn::after{
  position: absolute;
  content: "";
  background: url('../img/8666600_arrow_left_icon.png') center/contain;
  width: 12px;
  height: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.btn::before{
  left: 1px;
}
.btn::after{
  transform:translateY(-50%) rotateZ(-180deg);
  right: 1px;
}
